[submodule "tmux-plugins"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm

[submodule "Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
