[submodule "tmux-plugins"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm

[submodule "Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim

[submodule ".fonts/powerline"]
	path = .fonts/powerline
	url = http://github.com/powerline/fonts

[submodule "tmux-airline-dracula"]
	path = .tmux/plugins/tmux-airline-dracula
	url = https://github.com/desnudopenguino/tmux-airline-dracula
